<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">



    <context-param>
        <param-name>doms.url</param-name>
        <param-value>http://achernar:7880/fedora</param-value>
    </context-param>



    <context-param>
        <param-name>pidgenerator.url</param-name>
        <param-value>http://achernar:7880/pidgenerator-service</param-value>
    </context-param>

 <!--   <context-param>
        <param-name>doms.username</param-name>
        <param-value>fedoraAdmin</param-value>
    </context-param>

    <context-param>
        <param-name>doms.password</param-name>
        <param-value>fedoraAdminPass</param-value>
    </context-param>
-->

    <context-param>
        <param-name>scape.contentModel</param-name>
        <param-value>scape:ScapeContentModel</param-value>
    </context-param>


    <listener>
        <listener-class>
            dk.statsbiblioteket.doms.webservices.configuration.ConfigContextListener
        </listener-class>
    </listener>

<!--
    <filter>
        <display-name>AuthFilter</display-name>
        <filter-name>AuthFilter</filter-name>
        <filter-class>dk.statsbiblioteket.doms.webservices.authentication.AuthFilter</filter-class>
        <init-param>
            <param-name>Realm name</param-name>
            <param-value>DOMS</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>DOMS</servlet-name>
    </filter-mapping>
-->

    <filter>
        <display-name>AuthFilter</display-name>
        <filter-name>AuthFilter</filter-name>
        <filter-class>dk.statsbiblioteket.doms.webservices.authentication.AuthFilter</filter-class>
        <init-param>
            <param-name>Realm name</param-name>
            <param-value>Doms</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>DOMS</servlet-name>
    </filter-mapping>


    <servlet>
        <servlet-name>DOMS</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>eu.scape_project.dataconnetor.doms.service</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DOMS</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>






</web-app>
